@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:700");
/* GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
}

.name {
  font-family: "Playfair Display SC", serif;
}

.hImages {
  height: 10vh;
  width: 10vh;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.italic {
  font-style: italic;
}

/* NAV BAR */
nav {
  position: fixed;
  background: white;
  z-index: 99;
  width: 100%;
  height: 10vh;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 5%;
  margin: 0px;
  height: 10vh;
}
nav ul a {
  color: black;
  text-decoration: none;
}

/* SOCIAL MEDIA ICONS */
.iconimg {
  height: 5vh;
  width: 5vh;
}

/* BANNER */
.banner {
  width: 100%;
  height: 50vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../resources/bg2.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
}
.banner h1 {
  margin: 0px;
}
.banner h4, .banner p {
  margin-top: 0px;
}

#contact {
  font-size: 80%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.icons li {
  padding: 20px;
}

/* DISPLAY PICTURE */
#dp {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
}

/* SKILLS */
.skills > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skillimg {
  height: 5vh;
  width: 5vh;
}

/* LOGO */
#logo {
  height: 30%;
  width: 30%;
}

/* SECTIONS */
.aboutme {
  margin: auto 4vh;
  padding: 2vh;
  position: relative;
  top: -8vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: -8vh;
}

.album {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  position: relative;
  top: 0vh;
}
.album img {
  height: 22vh;
  width: 22vh;
  padding: 2vh;
  border-radius: 10%;
  margin: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.experience {
  margin: auto 4vh;
  padding: 1vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects {
  margin: auto 4vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1vh;
}

.footer {
  margin: auto 4vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1vh;
}

.section {
  margin-top: 2vh;
}

/* HOVER EFFECT FOR NAVBAR */
a:hover {
  color: grey;
  text-decoration: none;
}

/* this is already displayed, just hidden cuz of settings, transition time is the time it takes after hover is done*/
.cool-link::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: grey;
  transition: width 0.3s;
}

/* hover action */
.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform 0.2s;
}

/* ANCHOR TAGS -- CHEATS */
#index {
  position: absolute;
  top: 0px;
  left: 0px;
}

#aboutme {
  position: relative;
  top: -28vh;
}

#experience {
  position: relative;
  top: -11vh;
}

#projects {
  position: relative;
  top: 0vh;
}

/* MEDIA QUERIES */
/* TABLET 768 */
@media only screen and (min-width: 768px) {
  .section {
    margin: 4vh 10vh;
  }

  .name {
    letter-spacing: 4px;
  }

  .album {
    grid-template-columns: 1fr 1fr;
  }
  .album img {
    height: 30vh;
    width: 30vh;
  }

  .aboutme {
    position: relative;
    top: -10vh;
    margin-bottom: -5vh;
  }

  body {
    font-size: 110%;
  }
}
@media only screen and (min-width: 1024px) {
  .section {
    margin: 4vh 15vh;
  }

  .album {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3vh;
  }

  .aboutme {
    margin-bottom: -10vh;
  }

  #projects {
    top: -12vh;
  }
}
@media only screen and (min-width: 1440px) {
  .section {
    margin: 8vh 40vh;
  }

  .album {
    grid-row-gap: 10vh;
  }

  .aboutme {
    top: -15vh;
    margin-bottom: -15vh;
  }
}

/*# sourceMappingURL=main.css.map */
