/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300i|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Jura');

html {
    font-family: 'Open Sans', sans-serif;
    color: black;
    /* margin: 10vh; */
    text-align: center;
}
.container{
    padding: 0;
}
.banner {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("resources/bg2.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    height: 80vh;
    margin-bottom: 40px;
}
.container > div.banner { 
    text-align: center;
}
a {
    text-decoration: none; 
    color: black;
}
li {
    padding: 0px 10px;
}
a:visited {
    color: #DDC9B4;
}
a:hover {
    color: #AFB2B4;
}
.bold {
    letter-spacing: 3px;
    margin: 0px;
    font-family: 'Jura', sans-serif;
    font-size: 60px;
}
.banner > p {
    margin: 0px;
}
.fancy {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    /* color: #DDC9B4; */
    color: #F5F1ED;
}
  /* this is already displayed, just hidden cuz of settings, transition time is the time it takes after hover is done*/
  .cool-link::after {
      content: '';
      display: block;
      width: 0px;
      height: 2px;
      background: black;
      transition: width 0.3s;
  }
  /* hover action */
  .cool-link:hover::after {
      width: 100%;
      transition: width 0.3s;
  }
nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}
nav {
    position: sticky;
    left: 0px;
    top: 0px;
    width: 100%;
    background: white;
    height: 40px;
    z-index: 99;
}
#logo {
    position: relative;
    top: 0;
    left: 0;
}
.aboutme > p {
    width: 100%;
}
.carousel-inner {
    margin: 10vh 0;
}
.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.experience > div {
    width: 33.3%;
}
table {
    margin: auto;
}
ul {
    list-style: none;
}
  /* 
Photo by Anthony Intraversato on Unsplash */
/* https://unsplash.com/photos/vYRAP3yMa3I */
/* https://unsplash.com/photos/j1MZ8SMDzv8 */

/* logo 
<a href='https://www.freepik.com/free-vector/illustration-of-business-concept_2687450.htm'>Designed by Rawpixel.com</a> */

/* ::-webkit-meter-even-less-good-value<a href='https://www.freepik.com/free-vector/web-mobile-icons-collection_864846.htm'>Designed by Ibrandify</a> */

