@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

html {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
nav {
    position: fixed;
    background: white;
    z-index: 99;
    width: 100%;
    height: 10vh;   
}
ul {
    list-style: none;
}
nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5%;
    margin: 0px;
    height: 10vh;
}
nav > ul > li {
    text-align: center;
}
nav > ul > li > a {
    color: black;
    text-decoration: none;
}
.logoimg {
    height: 10vh;
    width: 10vh;
}
section {
    height: 100vh;
    text-align: center;
}
.container {
    padding-top: 10vh;
    /* height: 100vh; */
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("resources/bg2.jpg");
    background-position: center center;
    background-size: cover;
    color: white;
}
.container > h1 {
    margin: 0px;
}
.skills > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 0; */
}
h2, h3 {
    text-align: center;
}
.hImages {
    height: 10vh;
    width: 10vh;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px;
}
.projects > img {
    display: block;
    width: 100%;
}
h2 {
    /* padding-top: 10vh; */
    /* margin-top: 10vh; */
}
/* .content { 
    margin-top: 10vh;
} */
#logo {
    height: 30%;
    width: 30%;
}
#footer {
    text-align: center;
}
/* .logos > li > img {
    height: 10px;
    width: 10px;    
} */
.logos > li {
    padding: 20px;
}
.logos {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 0;
}
.content {
    /* background-color: black; */
}
.aboutme {
    margin: auto 3vh;
    /* border: 1px solid black; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 2vh;
    position: relative;
    top: -20vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.experience {
    margin: auto 4vh;
    padding: 1vh;
    position: relative;
    top: -5vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects {
    position: relative;
    top: -10vh;
    background-color:
}
/* a:visited {
    color: #C9C1B4;
} */
a:hover {
    color: grey;
    text-decoration: none;
}
  /* this is already displayed, just hidden cuz of settings, transition time is the time it takes after hover is done*/
.cool-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: width 0.3s;
}
/* hover action */
.cool-link:hover::after {
    width: 100%;
    transition: width 0.3s;
}
#aboutme {
    /* position: relative;
    top: -10vh; */
}
#experience { 
    position: relative;
    top: -10vh;  
}
#projects {
    position: relative;
    top: -10vh;
}
#myCarousel {
    position: relative;
    top: -15vh;
    height: 35vh;
    width: 100%
}
h2 {
    margin: 0px;
}
ul {
    padding: 0px;
}
.skillimg {
    height: 5vh;
    width: 5vh;
}
#id {
    /* font-family: 'Work Sans', sans-serif; */
}
#dp {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}