@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300i|Montserrat');

header {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 40px; 
    border: 1px solid; */
}
/* nav > ul {
    list-style: none;
    display: flex;
} */

a {
    text-decoration: none;
    padding: 60px;
}
.line {
    width: 60px;
    height: 3px;
    background-color: green;
    position: relative;
    right: -50px;
}

/* a:hover{
    background-color: black;
    opacity: 0.5;
} */


/* a:active {
    background-color: white;
    color: black;
} */

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("resources/pattern.png")
}
.title1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 60px;
}

.title2 {
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
#banner {
    border: 1px solid rgba(0,0,0,0.3);
    margin: 200px 0px 0px 0px;
    padding: 40px;
    background-color: white;
}
/* nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
} */
img {
    height: 50px;
    width: 50px;
}
.content {
    padding: 50px;
}
